koha:
  instance: instancename
  adminuser: admin
  adminpass: secret
  syncuser: sync
  syncpass: sync
  zebrauser: kohauser
  zebrapass: SecretPassword
  bz_user: dummy@bugzilla.com
  bz_pass: pass

sip:
  host: 127.0.0.1
  port: 6001
  workers: 1
  autouser1: automat1
  autopass1: pass1

mail:
  domain: example.com
  from: noreply@example.com
  type: smtp

sms:
  url: http://localhost/smsapi

marc2rdf:
  user:            admin
  pass:            secret
  default_graph:   http://example.com/graph
  default_prefix:  http://example.com/
  session_key:     justchangemewillyou

admin:
  virtuoso:
    sparul_user:     dba
    sparul_pass:     dba
  armillaria:
    api4marc_apikey: secret
    geonames_username: also_secret
