{
  "ServePort": {{ pillar['armillaria']['port'] }},
  "LogFile": "./armillaria.log",
  "RDFStore": {
    "Endpoint": "{{ pillar['virtuoso']['sparul_endpoint'] }}",
    "Username": "{{ pillar['virtuoso']['sparul_user'] }}",
    "Password": "{{ pillar['virtuoso']['sparul_pass'] }}"
  },
  "Elasticsearch": "{{ pillar['elasticsearch']['url'] }}",
  "ExternalDataSources":
  {
    "dewey.info": {
      "Endpoint": "http://dewey.info/sparql.php",
      "Type": "SPARQL"
    },
    "data.deichman.no": {
      "Endpoint": "http://data.deichman.no/sparql",
      "Type": "SPARQL"
    },
    "bibsentralen": {
      "Endpoint": "http://melville10:8080?apikey={{ pillar['armillaria']['api4marc_apikey'] }}&base=bibbi&isbn=%v",
      "Type": "GET"
    },
    "Geonames": {
      "Endpoint": "http://api.geonames.org/getJSON?geonameId=%v&username={{ pillar['armillaria']['geonames_username'] }}&style=full",
      "Type": "GET"
    },
    "OpenLibrary": {
      "Endpoint": "https://openlibrary.org/api/books?bibkeys=ISBN:%v&format=json&jscmd=data",
      "Type": "GET"
    },
    "GoogleBooks": {
      "Endpoint": "https://www.googleapis.com/books/v1/volumes?q=isbn:%v",
      "Type": "GET"
    },
    "Bibsys": {
      "Endpoint": "http://sru.bibsys.no/search/biblio?version=1.2&operation=searchRetrieve&startRecord=1&maximumRecords=1&query=isbn=%v&recordSchema=marcxchange",
      "Type": "GET"
    }
  }
}
