{
  "ServePort": {{ pillar['armillaria']['port'] }},
  "LogFile": "./armillaria.log",
  "RDFStore": {
    "Endpoint": "{{ pillar['virtuoso']['sparul_endpoint'] }}",
    "Username": "{{ pillar['virtuoso']['sparul_user'] }}",
    "Password": "{{ pillar['virtuoso']['sparul_pass'] }}"
  },
  "Elasticsearch": "{{ pillar['elasticsearch']['url'] }}",
  "ExternalDataSources": [
    {
      "Name": "dewey.info",
      "Endpoint": "http://dewey.info/sparql.php",
      "Type": "SPARQL"
    },
    {
      "Name": "data.deichman.no",
      "Endpoint": "http://data.deichman.no/sparql",
      "Type": "SPARQL"
    },
    {
      "Name": "Z39.proxy",
      "Endpoint": "http://datatest.deichman.no:8080",
      "Type": "REST"
    }
  ]
}